<main class="p-3">
  <h2>{{mainTitle}}</h2>

  <a href="/products" class="btn btn-secondary" role="button">Go to products</a> 
  <a href="/profile" class="btn btn-secondary" role="button">Go to profile</a> 

  <ul class="list-group mt-3">
    <li class="list-group-item active" aria-current="true">User list</li>
    {{#each users}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{this.role}} - {{this.first_name}} - {{this.email}}</span>
      <div class="d-flex gap-3">
        {{!-- update user --}}
        <button type="button" class="btn btn-outline-secondary btn-sm" data-role={{this.role}} data-email={{this.email}} onclick="updateUserRole(event, this.dataset.email, this.dataset.role)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
        </button>
        {{!-- delete user --}}
        <button type="button" class="btn btn-outline-danger btn-sm" data-email={{this.email}} onclick="deleteUser(event, this.dataset.email)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
        </button>
      </div>
    {{/each}}
  </ul>
</main>

<script src="/static/scripts/adminPanel.js"></script>