<style>


</style>

<h2>{{mainTitle}}</h2>
<button class="btn">
  <a href={{urlToProducts}} class="btn btn-primary" role="button">Go to products</a>
</button>
<button class="btn btn-danger" onclick="clearCart()">Clear cart</button>
<br>
<br>

{{#if listExist}}
  <button class="btn btn-primary" id="btn-buy" onclick="generateTicket()" data-cart={{userCart}}>Buy products</button>
  <h4>My products:</h4>
  <div class='container text-center mb-5'>
    <div class='row row-gap-5' id="cart-products-container">
      {{#each info}}
        <div class='col-3'>
          <div class='card'>
            <div class='card-body'>
              <h5 class='card-title'>{{this.product.title}}</h5>
              <p class='card-text'>{{this.product.description}}</p>
            </div>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'>Item ID: {{this.product.id}}</li>
              <li class='list-group-item'>Description: {{this.product.description}}</li>
              <li class='list-group-item'>Price: ${{this.product.price}}</li>
              <li class='list-group-item'>Quantity: {{this.quantity}}</li>
            </ul>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p class=''>No Products...</p>
{{/if}}

<div class="d-none" id="error-container">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  <div style="min-height: 40px;" class="alert alert-danger d-flex align-items-center" role="alert">
    <svg style="height: 20px; width: 20px; margin-left: 5px;" class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <p style="margin: 0; padding: 0;" id="error-message"></p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Your Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="myModalContent">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/static/scripts/cart.js"></script>